body {
  background-color: rgb(244, 234, 255);
  font-family: "Roboto", sans-serif;
}

header {
  text-align: center;
  padding: 32px;
}

h1 {
  color: rgb(88, 49, 196);
  font-size: 52px;
  font-weight: 900;
}

header img {
  width: 350px;
}

main {
  background-color: rgb(122, 74, 218);
  margin: 32px auto;
  padding: 32px;
  border-radius: 8px;
  width: 700px;
  color: rgb(248, 241, 255);
}

h3 {
  font-size: 30px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 14px 0;
  padding-left: 10px;
  border-left: 5px solid transparent;
  /* 테두리를 왼쪽만 지정해서..! */
  /* 다른 곳은 투명으로 추가! */
}

a {
  padding: 2px 6px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(36, 3, 102);
  background-color: rgb(255, 237, 177);
}

a:hover,
a:active {
  background-color: rgb(250, 201, 39);
}

footer {
  text-align: center;
  margin-bottom: 100px;
}

/* footer a */
#download {
  margin: 30px auto 10px auto;
  padding: 12px 20px;
  background-color: rgb(250, 201, 39);
  color: rgb(66, 51, 4);
  width: 200px;
  border-radius: 8px;
}

#download:hover, #download:active{
  background-color: rgb(255, 186, 58);
}

/* footer p */
#cc {
  color: rgb(131, 113, 149);
  margin-top: 30px;
}

.extra-important {
  color: rgb(255, 237, 177);
  border-color: rgb(247, 209, 85);
}
