@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 100px;
}

h1{
  font-family: 'Prompt', sans-serif;
  font-weight: 800;
  font-size: 25px;
  color: black;
  padding-top: 90px;
}

ol{
  
  list-style: none;
  width: 800px;
  margin: 0 auto 0 auto;
  padding: 0;
  margin-bottom: 64px;
}

li{
  
  background-color: rgb(224, 110, 95);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 26px;
  margin: 32px;
  border: 4px solid rgb(34, 30, 29);
  border-radius: 6px;
  margin-top: -110px;
}

span{
  color: rgb(77, 33, 25);
}

img {
  width:200px;
  height: 200px;
  border: 4px solid rgb(34, 30, 29);
  border-radius: 100px
}

#todays-challenge {
  color: rgb(71, 60, 58);
  font-weight: bold;
  font-size: 46px;
}
