@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  text-align: center;
  background-color: rgb(233, 215, 207);
  margin: 50px;
  color: #534b4b;
}

h1 {
  font-family: "Dela Gothic One";
}
p {
  font-family: "Pretendard-Regular";
  /* font-weight: bold; */
  font-size: 24px;
}

a {
  color: rgb(167, 1, 78);
  text-decoration: none;
  font-family: 'Prompt', sans-serif;
}

a:hover {
  text-decoration: underline;
  font-family: 'Prompt', sans-serif;
}

